$background-white: #ffffff;
$background-grey: #fafafa;
$background-blue: #202040;

$border-grey: #aaaaaa;
$radius: 5px;

$color-text: #444444;
$color-text-white: #FFFFFF;

$color-green-light: #00FF00;
$color-red-light: #FF0000;
$color-green-dark: #008800;
$color-red-dark: #BB0000;
